@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}
html {
    height: -webkit-fill-available;
}

.top-translate-center {
    top: 50%;
    transform: translateY(-50%);
}

.left-translate-center {
    left: 50%;
    transform: translateX(-50%);
}

.translate-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
